<div class="container">
  <div class="carousel">
    <div class="carousel__items">
      <span class="carousel__item">
        D'après Othmane (qu'Allah l'agrée), le Prophète (que la prière d'Allah
        et Son salut soient sur lui) a dit : « Celui qui construit une mosquée
        pour Allah, Allah lui construit son équivalent dans le paradis ».
      </span>
      <span class="carousel__item">
        D'après Mouadh Ibn Jabal (qu'Allah l'agrée), le Prophète (que la prière
        d'Allah et Son salut soient sur lui) a dit: « L'aumône éteint les péchés
        comme l'eau éteint le feu ».
      </span>
    </div>
  </div>

  <div class="dons">
    <div class="cb">
      <h1 class="sous-titre part1">
        Dons en CB : <span id="targetId1">{{ endVal1 }} </span>
      </h1>
    </div>
    <div class="liquide">
      <h1 class="sous-titre">
        Dons en Espèces :
        <span id="targetId2">{{ endVal2 }}</span>
      </h1>
    </div>
  </div>
  <!-- <div *ngIf="hidden" class="scroll-text-container">
    <div class="scroll-text">
      <p class="hadith1">

      </p>
      <p class="hadith2">

      </p>
    </div>
  </div> -->
  <div class="total">
    <h1 class="titre">
      Total :
      <span
        [ngClass]="{
          'text-sky': endVal3 >= 1000 && endVal3 < 5000,
          'text-gold': endVal3 >= 5000 && endVal3 < 10000,
          'text-orange': endVal3 >= 10000 && endVal3 < 15000,
          'text-green': endVal3 >= 15000 && endVal3 < 20000,
          'text-white': endVal3 >= 20000 && endVal3 < 25000
        }"
        id="targetId3"
        >{{ endVal3 }}</span
      >
    </h1>
  </div>
  <div class="carousel2">
    <div class="carousel__items2">
      <span class="carousel__item2">
        عن معاذ بن جبل رضي الله عنه قال رسول الله صلى الله عليه و سلم : الصدقة
        تطفئ الخطيئة كما يطفئ الماء النار
      </span>
      <span class="carousel__item2">
        عن عثمان بن عفان رضي الله عنه قال رسول الله صلى الله عليه و سلم : من بنى
        مسجدا لله بنى الله له في الجنة مثله
      </span>
    </div>
  </div>

  <!-- <div *ngIf="hidden" class="scroll-text-container-back">
    <div class="scroll-text-back">
      <p class="hadith2">
  
      </p>
      <p class="hadith1">
        
      </p>
    </div>
  </div> -->

  <p id="thanks"></p>
  <p id="thanks2"></p>
  <!-- <p id="thanks">{{ show ? texte1 : null }}</p>
  <p id="thanks2">{{ hidden ? texte2 : null }}</p> -->
  <div class="addition">
    <mat-form-field class="carte-bleue" appearance="outline">
      <input
        matInput
        type="number"
        min="0"
        id="increment-value1"
        (keypress)="onInputKeypress1($event)"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="disabled"
      id="increment-btn"
      (click)="increment1()"
    >
      CB
    </button>

    <mat-form-field class="flous" appearance="outline">
      <input
        matInput
        type="number"
        min="0"
        id="increment-value2"
        (keypress)="onInputKeypress2($event)"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="disabled"
      id="increment-btn"
      (click)="increment2()"
    >
      Espèces
    </button>
  </div>
</div>
