// body{
//     background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/5741719-modele-de-fond-islamique-avec-mihrab-podium-et-croissant-sur-fond-vert-emeraude-illustrationle-islamique-pour-les-vacances-musulmanes-vectoriel.jpg");
//     background-size: cover;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color: rgb(4, 77, 4);
//     width: 100vw;
//     height: 100vh;
//     padding: 0%;
//     margin: 0%;
//   }
// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100vh;
//   width: 100vw;
//   overflow: hidden;
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   background-color: rgb(4, 77, 4);
// }

// #targetId1,
// #targetId2,
// #targetId3 {
//   font-size: 3em;
//   font-weight: bold;
//   text-align: center;
// }

// input[type="number"] {
//   padding: 5px;
//   font-size: 1em;
//   margin: 5px;
// }

// button {
//   padding: 5px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }
// .cb {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2rem;
// }
// .dons {
//   display: flex;
//   justify-content: space-around;
//   color: #eff1f3;
//   animation: glow 2500ms linear infinite 4000ms;
// }

// .addition {
//   display: flex;
//   justify-content: space-evenly;
//   margin-bottom: 10px;
// }
// .euros {
//   font-size: 3rem;
// }
// .titre,
// #targetId3 {
//   font-size: 8rem;
//   color: #007bff;
//   text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
//     0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
// }

// #targetId3 {
//   animation: glow 2500ms linear infinite 4000ms;
// }

// @keyframes glow {
//   40% {
//     text-shadow: 0 0 15px #fff;
//   }
// }

// body{
//     background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/5741719-modele-de-fond-islamique-avec-mihrab-podium-et-croissant-sur-fond-vert-emeraude-illustrationle-islamique-pour-les-vacances-musulmanes-vectoriel.jpg");
//     background-size: cover;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color: rgb(4, 77, 4);
//     width: 100vw;
//     height: 100vh;
//     padding: 0%;
//     margin: 0%;
//   }
// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100vh;
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   background-image: url("https://welcomesaudi.com/uploads/0000/1/2021/07/23/madinah-al-masjid-an-nabawi.jpg");
// }

// #targetId1,
// #targetId2,
// #targetId3 {
//   font-size: 3em;
//   font-weight: bold;
//   text-align: center;
// }

// input[type="number"] {
//   padding: 5px;
//   font-size: 1em;
//   margin: 5px;
// }

// button {
//   padding: 5px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }
// .cb {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2rem;
// }
// .dons {
//   display: flex;
//   justify-content: space-around;
//   color: #eff1f3;
//   animation: reveal 3000ms ease-in-out forwards 200ms,
//     glow 2500ms linear infinite 4000ms;
// }

// .addition {
//   display: flex;
//   justify-content: space-evenly;
//   margin-bottom: 10px;
// }
// .euros {
//   font-size: 3rem;
// }
// .titre,
// #targetId3 {
//   font-size: 8rem;
//   color: #007bff;
//   text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
//     0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
// }

// #targetId3 {
//   animation: glow 2500ms linear infinite 4000ms;
// }
// @keyframes reveal {
//   80% {
//     letter-spacing: 8px;
//   }
//   100% {
//     background-size: 300% 300%;
//   }
// }
// @keyframes glow {
//   40% {
//     text-shadow: 0 0 15px #fff;
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url("https://iphonesoft.fr/images/2021/08/wallpapers/bliss-macos-wallpaper-inspired-ipad-mac-3.jpg");
  background-size: cover;

  #targetId1,
  #targetId2,
  #targetId3 {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    padding-left: 2rem;
    font-family: "EB Garamond";
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .cb,
  .liquide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;

    .sous-titre.part1 {
      width: fit-content;
    }
    .sous-titre {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
      padding: 5px 15px;
      font-size: 3rem;
      text-align: center;
      animation: glow 2500ms linear infinite 4000ms;
      filter: drop-shadow(3px 6px 5px rgb(1, 19, 19));
      font-family: "Comfortaa", cursive;
    }
  }
  .total {
    // padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .titre {
      height: fit-content;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      width: fit-content;
      text-shadow: 2px 1px 2px rgb(209, 209, 228);
      font-size: 5rem;
      color: #022346;
      filter: drop-shadow(3px 2px 4px rgb(114, 154, 140));
      animation: reveal 3000ms ease forwards 200ms,
        glow 2500ms linear infinite 4000ms;
      text-align: center;
      font-family: "Comfortaa", cursive;
    }
  }

  .dons {
    display: flex;
    justify-content: space-around;
    color: #eff1f3;

    flex-wrap: wrap;
  }

  .addition {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    color: white;
    font-weight: bold;

    // margin-bottom: 10px;
    // flex-wrap: wrap;
  }

  .titre,
  #targetId3 {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    text-shadow: 2px 1px 2px blue;
    font-size: 8rem;
    color: #022346;
    filter: drop-shadow(5px 2px 4px rgb(47, 245, 179));
    animation: reveal 3000ms ease forwards 200ms,
      glow 2500ms linear infinite 4000ms;
    text-align: center;
    font-family: "EB Garamond", serif;
  }

  #increment-value1,
  #increment-value2 {
    color: rgb(3, 76, 3);
    font-weight: normal;
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
  }
  #increment-btn {
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff27;
    backdrop-filter: blur(2px);
  }

  #thanks {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(14, 124, 12);
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 42px rgb(47, 53, 51), 0 0 5px rgb(169, 247, 221),
      0 0 7px rgb(181, 237, 218), 0 0 11px rgb(178, 240, 219), 0 0 10px #0fa;
    // background-color: purple;
  }
  #thanks2 {
    font-family: "EB Garamond", serif;
    font-size: 6rem;
    text-transform: uppercase;
    color: rgb(183, 159, 25);
    // top: 70%;
    // left: 50%;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 42px rgb(255, 204, 0), 0 0 55px rgb(195, 255, 0),
      0 0 70px rgb(238, 255, 0), 0 0 11px rgb(157, 255, 0),
      0 0 50px rgb(187, 255, 0);
    animation: glow 2500ms linear infinite 4000ms;
    /* Définit l'animation de défilement */

    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .scroll-text-container {
  //   margin-bottom: 1rem;
  //   width: 100%;
  //   .scroll-text {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-evenly;
  //     border-radius: 5px;
  //     text-align: center;
  //     font-size: 1.5rem;
  //     line-height: 2rem;
  //     font-family: "Comfortaa", cursive;
  //     background-color: #ffffff27;
  //     backdrop-filter: blur(12px);
  //     animation: scroll 60s linear infinite; /* Définit l'animation de défilement */
  //     .hadith1 {
  //       border-right: 3px solid red;
  //       margin: 0;
  //     }
  //   }
  // }
  // .scroll-text-container-back {
  //   margin-top: 1rem;
  //   width: fit-content;
  //   .scroll-text-back {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-evenly;
  //     border-radius: 5px;
  //     text-align: center;
  //     font-size: 2rem;
  //     line-height: 2.5rem;
  //     font-family: "Noto Kufi Arabic", sans-serif;
  //     background-color: #ffffff27;
  //     backdrop-filter: blur(12px);
  //     animation: scroll-back 60s linear infinite; /* Définit l'animation de défilement */
  //     .hadith2 {
  //       margin: 0;
  //       border-right: 3px solid red;
  //     }
  //   }
  // }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    } /* Commence le défilement à gauche de la zone de texte */
    100% {
      transform: translateX(-130%);
    } /* Déplace le texte hors de la zone de texte vers la gauche */
  }
  @keyframes scroll-back {
    0% {
      transform: translateX(-100%);
    } /* Commence le défilement à gauche de la zone de texte */
    100% {
      transform: translateX(130%);
    } /* Déplace le texte hors de la zone de texte vers la gauche */
  }

  @keyframes reveal {
    80% {
      letter-spacing: 2px;
    }
    100% {
      background-size: 400% 400%;
    }
  }

  @keyframes glow {
    60% {
      text-shadow: 0 0 5px #fff;
    }
  }
}

.text-sky {
  display: flex;
  justify-content: center;
  align-items: center;
  color: skyblue;
  width: 50vw;
  transition: all 3s linear;
}

.text-gold {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  width: 50vw;
  transition: all 3s linear;
}
.text-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  width: 50vw;
  transition: all 3s linear;
}
.text-green {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  width: 50vw;
  transition: all 3s linear;
}
.text-white {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(239, 247, 239);
  width: 50vw;
  transition: all 3s linear;
}

.carousel {
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgba(250, 235, 215, 0.237);
  backdrop-filter: blur(15px);
  font-family: "Comfortaa", cursive;
  .carousel__items {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 10px;
    width: 350%; // 3 x largeur de l'élément parent
    animation: scroll 60s infinite linear;
    .carousel__item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(20%);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20%);
  }
  60% {
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(-150%); // 2 x largeur de l'élément parent
  }
}

.carousel2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50px;
  white-space: nowrap;
  font-family: "Kufi", "Arabic", cursive;
  background-color: rgba(250, 235, 215, 0.237);
  backdrop-filter: blur(15px);
  .carousel__items2 {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 10px;
    width: 200%; // 3 x largeur de l'élément parent
    animation: scroll2 60s infinite linear;
    .carousel__item2 {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(-90%);
  }
  20% {
    transform: translateX(-65%);
  }
  40% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-15%);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30%); // 2 x largeur de l'élément parent
  }
}
