// body{
//     background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/5741719-modele-de-fond-islamique-avec-mihrab-podium-et-croissant-sur-fond-vert-emeraude-illustrationle-islamique-pour-les-vacances-musulmanes-vectoriel.jpg");
//     background-size: cover;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color: rgb(4, 77, 4);
//     width: 100vw;
//     height: 100vh;
//     padding: 0%;
//     margin: 0%;
//   }
// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100vh;
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   background-image: url("https://welcomesaudi.com/uploads/0000/1/2021/07/23/madinah-al-masjid-an-nabawi.jpg");
// }

// #targetId1,
// #targetId2,
// #targetId3 {
//   font-size: 3em;
//   font-weight: bold;
//   text-align: center;
// }

// input[type="number"] {
//   padding: 5px;
//   font-size: 1em;
//   margin: 5px;
// }

// button {
//   padding: 5px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }
// .cb {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2rem;
// }
// .dons {
//   display: flex;
//   justify-content: space-around;
//   color: #eff1f3;
//   animation: reveal 3000ms ease-in-out forwards 200ms,
//     glow 2500ms linear infinite 4000ms;
// }

// .addition {
//   display: flex;
//   justify-content: space-evenly;
//   margin-bottom: 10px;
// }
// .euros {
//   font-size: 3rem;
// }
// .titre,
// #targetId3 {
//   font-size: 8rem;
//   color: #007bff;
//   text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
//     0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
// }

// #targetId3 {
//   animation: glow 2500ms linear infinite 4000ms;
// }
// @keyframes reveal {
//   80% {
//     letter-spacing: 8px;
//   }
//   100% {
//     background-size: 300% 300%;
//   }
// }
// @keyframes glow {
//   40% {
//     text-shadow: 0 0 15px #fff;
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=EB+Garamond:wght@500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://welcomesaudi.com/uploads/0000/1/2021/07/23/madinah-al-masjid-an-nabawi.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#targetId1,
#targetId2,
#targetId3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

// input[type="number"] {
//   padding: 5px;
//   font-size: 1em;
//   margin: 5px 20px;
//   width: 100%;
//   box-sizing: border-box;
// }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cb,
.liquide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 20px 0;
  text-align: center;
  .sous-titre {
    font-family: "Comfortaa", cursive;
    font-size: 2rem;
    text-align: center;
  }
}

.dons {
  display: flex;
  justify-content: space-around;
  color: #eff1f3;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 4000ms;
  flex-wrap: wrap;
}

.addition {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;

  // margin-bottom: 10px;
  // flex-wrap: wrap;
}

.euros {
  font-size: 3rem;
  text-align: center;
}

.titre,
#targetId3 {
  font-size: 5rem;
  color: #022346;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 55px #0fa, 0 0 70px #0fa, 0 0 11px #0fa, 0 0 50px #0fa;
  text-align: center;
  font-family: "EB Garamond", serif;
}

#targetId3 {
  animation: glow 2500ms linear infinite 4000ms;
}

#increment-value1,
#increment-value2 {
  color: green;
  font-weight: bold;
  font-family: "EB Garamond", serif;
  font-size: 4rem;
}

#thanks {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(14, 124, 12);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 55px #0fa, 0 0 70px #0fa, 0 0 11px #0fa, 0 0 50px #0fa;
  animation: glow 2500ms linear infinite 4000ms;
  // background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes reveal {
  80% {
    letter-spacing: 40px;
  }
  100% {
    background-size: 350% 350%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 5px #fff;
  }
}
