<div class="container">
  <div class="dons">
    <div class="cb">
      <h1 class="sous-titre">Dons en CB : &nbsp;</h1>
      <span id="targetId1">{{ endVal1 }} </span><span>&nbsp;</span>
    </div>
    <div class="liquide">
      <h1 class="sous-titre">Dons en Espèces : &nbsp;</h1>
      <span id="targetId2">{{ endVal2 }}</span
      ><span>&nbsp;</span>
    </div>
  </div>

  <div class="cb">
    <h1 class="titre">Total des Dons : &nbsp;</h1>
    <span id="targetId3">{{ endVal3 }} euros </span>
  </div>

  <p id="thanks">{{ show ? texte : null }}</p>
  <div class="addition">
    <mat-form-field class="carte-bleue" appearance="outline">
      <input
        matInput
        type="number"
        min="0"
        id="increment-value1"
        (keypress)="onInputKeypress1($event)"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      id="increment-btn"
      (click)="increment1()"
    >
      CB
    </button>

    <mat-form-field class="flous" appearance="outline">
      <input
        matInput
        type="number"
        min="0"
        id="increment-value2"
        (keypress)="onInputKeypress2($event)"
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      id="increment-btn"
      (click)="increment2()"
    >
      Espèces
    </button>
  </div>
</div>
