// body{
//     background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/5741719-modele-de-fond-islamique-avec-mihrab-podium-et-croissant-sur-fond-vert-emeraude-illustrationle-islamique-pour-les-vacances-musulmanes-vectoriel.jpg");
//     background-size: cover;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color: rgb(4, 77, 4);
//     width: 100vw;
//     height: 100vh;
//     padding: 0%;
//     margin: 0%;
//   }
//   .container{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 100vh;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color: rgb(4, 77, 4);
//   }

// #targetId1, #targetId2, #targetId3 {
//     font-size: 3em;
//     font-weight: bold;
//     text-align: center;
//   }

//   input[type="number"] {
//     padding: 5px;
//     font-size: 1em;
//     margin: 5px;
//   }

//   button {
//     padding: 5px;
//     background-color: #007bff;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//   }
//   .cb{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 2rem;
//   }
//   .dons{
//     display: flex;
//     justify-content: space-around;
//     color: #eff1f3;
//     animation: glow 2500ms linear infinite 4000ms;
//   }

//   .addition{
//     display: flex;
//     justify-content: space-evenly;
//     margin-bottom: 10px;

//   }
//   .euros{
//     font-size: 3rem;
//   }
//   .titre, #targetId3{

//     font-size: 8rem;
//     color: #007bff;
//     text-shadow:
//     0 0 7px #fff,
//     0 0 10px #fff,
//     0 0 21px #fff,
//     0 0 42px #0fa,
//     0 0 82px #0fa,
//     0 0 92px #0fa,
//     0 0 102px #0fa,
//     0 0 151px #0fa;
//   }

//   #targetId3{
//     animation: glow 2500ms linear infinite 4000ms;
//   }

//   @keyframes glow {
//     40% {
//       text-shadow: 0 0 15px #fff;
//     }
//   }

// body{
//     background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p1/5741719-modele-de-fond-islamique-avec-mihrab-podium-et-croissant-sur-fond-vert-emeraude-illustrationle-islamique-pour-les-vacances-musulmanes-vectoriel.jpg");
//     background-size: cover;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     background-color: rgb(4, 77, 4);
//     width: 100vw;
//     height: 100vh;
//     padding: 0%;
//     margin: 0%;
//   }
// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 100vh;
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   background-image: url("https://welcomesaudi.com/uploads/0000/1/2021/07/23/madinah-al-masjid-an-nabawi.jpg");
// }

// #targetId1,
// #targetId2,
// #targetId3 {
//   font-size: 3em;
//   font-weight: bold;
//   text-align: center;
// }

// input[type="number"] {
//   padding: 5px;
//   font-size: 1em;
//   margin: 5px;
// }

// button {
//   padding: 5px;
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }
// .cb {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2rem;
// }
// .dons {
//   display: flex;
//   justify-content: space-around;
//   color: #eff1f3;
//   animation: reveal 3000ms ease-in-out forwards 200ms,
//     glow 2500ms linear infinite 4000ms;
// }

// .addition {
//   display: flex;
//   justify-content: space-evenly;
//   margin-bottom: 10px;
// }
// .euros {
//   font-size: 3rem;
// }
// .titre,
// #targetId3 {
//   font-size: 8rem;
//   color: #007bff;
//   text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
//     0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
// }

// #targetId3 {
//   animation: glow 2500ms linear infinite 4000ms;
// }
// @keyframes reveal {
//   80% {
//     letter-spacing: 8px;
//   }
//   100% {
//     background-size: 300% 300%;
//   }
// }
// @keyframes glow {
//   40% {
//     text-shadow: 0 0 15px #fff;
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("https://welcomesaudi.com/uploads/0000/1/2021/07/23/madinah-al-masjid-an-nabawi.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  #targetId1,
  #targetId2,
  #targetId3 {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .cb,
  .liquide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    text-align: center;

    .sous-titre.part1 {
      width: fit-content;
    }
    .sous-titre {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
      padding: 5px 15px;
      font-size: 3rem;
      text-align: center;
      animation: glow 2500ms linear infinite 4000ms;
      font-family: "Comfortaa", cursive;
    }
  }
  .total {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .dons {
    display: flex;
    justify-content: space-around;
    color: #eff1f3;

    flex-wrap: wrap;
  }

  .addition {
    display: flex;
    align-items: center;
    width: 55%;
    color: white;
    font-weight: bold;
    padding: 0 10px;
    .carte-bleue,
    .flous {
      width: 15%;
      margin: 0 10px;
    }
    // margin-bottom: 10px;
    // flex-wrap: wrap;
  }

  .titre,
  #targetId3 {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    text-shadow: 2px 1px 2px blue;
    font-size: 5rem;
    color: #022346;
    filter: drop-shadow(5px 2px 4px rgb(47, 245, 179));
    animation: reveal 3000ms ease forwards 200ms,
      glow 2500ms linear infinite 4000ms;
    text-align: center;
    font-family: "Comfortaa", cursive;
  }

  #increment-value1,
  #increment-value2 {
    color: rgb(3, 76, 3);
    font-weight: normal;
    font-family: "Comfortaa", cursive;
    font-size: 1.2rem;
  }
  #increment-btn {
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff27;
    backdrop-filter: blur(2px);
  }

  #thanks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Comfortaa", cursive;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(14, 124, 12);
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 55px #0fa, 0 0 70px #0fa, 0 0 11px #0fa, 0 0 50px #0fa;
    // background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #thanks2 {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: rgb(183, 159, 25);
    // top: 70%;
    // left: 50%;
    transform: translateY(110%);
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 42px rgb(255, 204, 0), 0 0 55px rgb(195, 255, 0),
      0 0 70px rgb(238, 255, 0), 0 0 11px rgb(157, 255, 0),
      0 0 50px rgb(187, 255, 0);
    animation: glow 2500ms linear infinite 4000ms,
      top-to-btm 5s ease-out infinite both; /* Définit l'animation de défilement */
    // background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .scroll-text-container {
    width: 100%;
    .scroll-text {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      font-family: "Comfortaa", cursive;
      background-color: #ffffff27;
      backdrop-filter: blur(2px);
      animation: scroll 60s linear infinite; /* Définit l'animation de défilement */
      .hadith1 {
        border-right: 3px solid red;
        margin: 0;
      }
    }
  }
  .scroll-text-container-back {
    width: fit-content;
    .scroll-text-back {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      text-align: center;
      font-size: 2rem;
      line-height: 2.5rem;
      font-family: "Noto Kufi Arabic", sans-serif;
      background-color: #ffffff27;
      backdrop-filter: blur(2px);
      animation: scroll-back 60s linear infinite; /* Définit l'animation de défilement */
      .hadith2 {
        margin: 0;
        border-right: 3px solid red;
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    } /* Commence le défilement à gauche de la zone de texte */
    100% {
      transform: translateX(-130%);
    } /* Déplace le texte hors de la zone de texte vers la gauche */
  }
  @keyframes scroll-back {
    0% {
      transform: translateX(-100%);
    } /* Commence le défilement à gauche de la zone de texte */
    100% {
      transform: translateX(130%);
    } /* Déplace le texte hors de la zone de texte vers la gauche */
  }
  @keyframes top-to-btm {
    0% {
      transform: translateY(100%);
    } /* Commence le défilement à gauche de la zone de texte */
    100% {
      transform: translateY(-100%);
    } /* Déplace le texte hors de la zone de texte vers la gauche */
  }

  @keyframes reveal {
    80% {
      letter-spacing: 2px;
    }
    100% {
      background-size: 400% 400%;
    }
  }

  @keyframes glow {
    60% {
      text-shadow: 0 0 5px #fff;
    }
  }
}
